<a href="https://colab.research.google.com/github/ImVikashKr/PlaceMent/blob/main/RegularExpression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

In [ ]:
#Python has a built-in package called re, which can be used to work with Regular Expressions.
import re

In [ ]:
#Search the string to see if it starts with "The" and ends with "Spain":
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
if x:
  print("YES! We have a match!")
else:
  print("No match")

YES! We have a match!

The re module offers a set of functions that allows us to search a string for a match:

findall:	Returns a list containing all matches

search:	Returns a Match object if there is a match anywhere in the string

split:	Returns a list where the string has been split at each match

sub:	Replaces one or many matches with a string

**find all matches to the regular expression in Python.** The RE moduleâ€™s re.findall() method scans the regex pattern through the entire target string and returns all the matches that were found in the form of a list.

**Syntax:**

re.findall(pattern, string, flags=0)

pattern: regular expression pattern we want to find in the string or text

string: It is the variable pointing to the target string (In which we want to look for occurrences of the pattern).

Flags: It refers to optional regex flags. by default, no flags are applied. For example, the re.I flag is used for performing case-insensitive findings.

In [ ]:
target_string = "Emma is a basketball player who was born on June 17, 1993. She played 112 matches with scoring average 26.12 points per game. Her weight is 51 kg."
result = re.findall(r"\d+", target_string)

# print all matches
print("Found following matches")
print(result)

Found following matches
['17', '1993', '112', '26', '12', '51']

**Python regex re.search() method** looks for occurrences of the regex pattern inside the entire target string and returns the corresponding Match Object instance where the match found.

The **re.search()** returns only the first match to the pattern from the target string. Use a re.search() to search pattern anywhere in the string.

**Syntax**

re.search(pattern, string, flags=0)

The regular expression pattern and target string are the mandatory arguments, and flags are optional.

pattern: The first argument is the regular expression pattern we want to search inside the target string.

string: The second argument is the variable pointing to the target string (In which we want to look for occurrences of the pattern).

flags: Finally, the third argument is optional and it refers to regex flags by default no flags are applied.

In [ ]:
target_string = "Emma is a baseball player who was born on June 17"

# search() for eight-letter word
result = re.search(r"\w{8}", target_string)

# Print match object
print("Match Object", result)
# output re.Match object; span=(10, 18), match='baseball'

# print the matching word using group() method
print("Matching word: ", result.group()) 
# Output 'baseball'

Match Object <re.Match object; span=(10, 18), match='baseball'>
Matching word:  baseball

##[ ]	: A set of characters -	"[a-m]"

In [ ]:
txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

## \ : Signals a special sequence (can also be used to escape special characters) - 	"\d"

In [ ]:
txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

## " . " :	Any character (except newline character) -	"he..o"

In [ ]:
txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

## " ^ " :	Starts with	- "^hello"

In [ ]:
txt = "hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

In [ ]:
# " $ " : 	Ends with	- "planet$"

txt = "hello planet"

#Check if the string ends with 'planet':

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

## " *	" : Zero or more occurrences -	"he.*o"

In [ ]:
txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":

x = re.findall("he.*o", txt)

print(x)

['hello']

## " + " :	One or more occurrences -	"he.+o"

In [ ]:
txt = "hello planet"

#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":

x = re.findall("he.+o", txt)

print(x)

['hello']

## " ? " :	Zero or one occurrences -	"he.?o"

In [ ]:
txt = "hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

## " {} " :	Exactly the specified number of occurrences -	"he.{2}o"

In [ ]:
txt = "hello planet"

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

x = re.findall("he.{2}o", txt)

print(x)

['hello']

## " | " :	Either or -	"falls|stays"

In [ ]:
txt = "The rain in Spain falls mainly in the plain!"

#Check if the string contains either "falls" or "stays":

x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

## " () " :	Capture and group

A group is a part of a regex pattern enclosed in parentheses () metacharacter.

Anything you have in parentheses () will be a capture group. using the group(group_number) method of the regex Match object we can extract the matching value of each group.

In [ ]:
target_string = "The price of PINEAPPLE ice cream is 20"

# two groups enclosed in separate ( and ) bracket
result = re.search(r"(\b[A-Z]+\b).+(\b\d+)", target_string)

# Extract matching values of all groups
print(result.groups())
# Output ('PINEAPPLE', '20')

# Extract match value of group 1
print(result.group(1))
# Output 'PINEAPPLE'

# Extract match value of group 2
print(result.group(2))
# Output 20

('PINEAPPLE', '20')
PINEAPPLE
20

## " \A "	: Returns a match if the specified characters are at the beginning of the string -	"\AThe"

In [ ]:
txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\AThe", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['The']
Yes, there is a match!

## " \b " :	Returns a match where the specified characters are at the beginning or at the end of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	

**r"\bain"**

**r"ain\b"**

In [ ]:
txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
txt = "The rain in Spain"

#Check if "ain" is present at the end of a WORD:

x = re.findall(r"ain\b", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

## " \B " :	Returns a match where the specified characters are present, but NOT at the beginning (or at the end) of a word
(the "r" in the beginning is making sure that the string is being treated as a "raw string")	

**r"\Bain"**

**r"ain\B"**

In [ ]:
txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the beginning of a word:

x = re.findall(r"\Bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [ ]:
txt = "The rain in Spain"

#Check if "ain" is present, but NOT at the end of a word:

x = re.findall(r"ain\B", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

## " \d " :	Returns a match where the string contains digits (numbers from 0-9)	- "\d"

In [ ]:
txt = "The rain in Spain"

#Check if the string contains any digits (numbers from 0-9):

x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

## " \D " :	Returns a match where the string DOES NOT contain digits	 - "\D"

In [ ]:
txt = "The rain in Spain"

#Return a match at every no-digit character:

x = re.findall("\D", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

## " \s " :	Returns a match where the string contains a white space character -	"\s"

In [ ]:
txt = "The rain in Spain"

#Return a match at every white-space character:

x = re.findall("\s", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

## " \S	" : Returns a match where the string DOES NOT contain a white space character -	"\S"

In [ ]:
txt = "The rain in Spain"

#Return a match at every NON white-space character:

x = re.findall("\S", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

## " \w " :	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) -	"\w"

In [ ]:
txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

## " \W " :	Returns a match where the string DOES NOT contain any word characters -	"\W"

In [ ]:
txt = "The rain in Spain"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

## " \Z " :	Returns a match if the specified characters are at the end of the string -	"Spain\Z"

In [ ]:
txt = "The rain in Spain"

#Check if the string ends with "Spain":

x = re.findall("Spain\Z", txt)

print(x)

if x:
  print("Yes, there is a match!")
else:
  print("No match")

['Spain']
Yes, there is a match!

# Sets
A set is a set of characters inside a pair of square brackets [] with a special meaning:

1. [arn] :	Returns a match where one of the specified characters (a, r, or n) is present

In [ ]:
txt = "The rain in Spain"

#Check if the string has any a, r, or n characters:

x = re.findall("[arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

2. [a-n] :	Returns a match for any lower case character, alphabetically between a and n

In [ ]:
txt = "The rain in Spain"

#Check if the string has any characters between a and n:

x = re.findall("[a-n]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

3. [^arn]	: Returns a match for any character EXCEPT a, r, and n

In [ ]:
txt = "The rain in Spain"

#Check if the string has other characters than a, r, or n:

x = re.findall("[^arn]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'i', ' ', 'i', ' ', 'S', 'p', 'i']
Yes, there is at least one match!

4. [0123] :	Returns a match where any of the specified digits (0, 1, 2, or 3) are present

In [ ]:
txt = "The rain in Spain"

#Check if the string has any 0, 1, 2, or 3 digits:

x = re.findall("[0123]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

5. [0-9] :	Returns a match for any digit between 0 and 9

In [ ]:
txt = "8 times before 11:45 AM"

#Check if the string has any digits:

x = re.findall("[0-9]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['8', '1', '1', '4', '5']
Yes, there is at least one match!

6. [0-5][0-9] :	Returns a match for any two-digit numbers from 00 and 59

In [ ]:
txt = "8 times before 11:45 AM"

#Check if the string has any two-digit numbers, from 00 to 59:

x = re.findall("[0-5][0-9]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

7. [a-zA-Z]	: Returns a match for any character alphabetically between a and z, lower case OR upper case

In [ ]:
txt = "8 times before 11:45 AM"

#Check if the string has any characters from a to z lower case, and A to Z upper case:

x = re.findall("[a-zA-Z]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

8. [+] :	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [ ]:
txt = "8 times before 11:45 AM"

#Check if the string has any + characters:

x = re.findall("[+]", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

##**The findall() Function**
The findall() function returns a list containing all matches.

In [ ]:
txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)
# The list contains the matches in the order they are found.

#If no matches are found, an empty list is returned:

['ai', 'ai']

##**The search() Function**
The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

In [ ]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start()) 

#If no matches are found, the value None is returned:

The first white-space character is located in position: 3

##**The split() Function**
The split() function returns a list where the string has been split at each match:

In [ ]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [ ]:
#You can control the number of occurrences by specifying the maxsplit parameter:
# Split the string only at the first occurrence:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

## **The sub() Function**
The sub() function replaces the matches with the text of your choice:

In [ ]:
#Replace every white-space character with the number 9:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [ ]:
# you can control the number of replacements by specifying the count parameter:
# Replace the first 2 occurrences:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

##**Match Object**
A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value None will be returned, instead of the Match Object.

In [ ]:
# Do a search that will return a Match Object:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x) #this will print an object

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:

.span() returns a tuple containing the start-, and end positions of the match.

.string returns the string passed into the function

.group() returns the part of the string where there was a match

In [ ]:
# Print the position (start- and end-position) of the first match occurrence.

# The regular expression looks for any words that starts with an upper case "S":
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [ ]:
# Print the string passed into the function:

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
# Print the part of the string where there was a match.

# The regular expression looks for any words that starts with an upper case "S":

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain